.p2 {
    font-size: 30px;
    font-family: "Lucida Handwriting", cursive;
}

.link {
    text-decoration: none;
    color: white;
    width: fit-content;
}
.link:hover {
    color: #facdcc;
}

.icon {
    font-size: 4vh;
}
