.main-btn,
.main-btn:focus,
.main-btn:active,
.main-btn:hover {
    margin: 0px 10px;
    padding: 5px 10px;
    background-color: inherit;
    border: 2px solid #00ffb8;
    border-radius: 20px;
    color: white;
    font-size: 3vh;
    width: 100%;
}
.main-btn:hover {
    cursor: pointer;
    background-color: inherit;
    border: 2px solid #861eff;
    color: #861eff;
    background-color: #facdcc;
}

.absolute-btn,
.absolute-btn:focus,
.absolute-btn:active,
.absolute-btn:hover {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    border: none;
    background-color: inherit;
    color: white;
    font-size: 3vh;
}
.absolute-btn:hover {
    cursor: pointer;
    color: #facdcc;
}

.h-10 {
    height: 10%;
}
.h-20 {
    height: 20%;
}
.h-30 {
    height: 30%;
}
.h-40 {
    height: 40%;
}
.h-50 {
    height: 50%;
}
.h-60 {
    height: 60%;
}
.h-70 {
    height: 70%;
}
.h-80 {
    height: 80%;
}
.h-100 {
    height: 100%;
}
