/*
COLOR PALETTE

#FACDCC - Light Pink
#00FFB8 - Water Green
#861EFF - Light Purple

*/

/* Global styles
-------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap");

html {
    box-sizing: border-box;
}
*,
*:before,
*.after {
    box-sizing: inherit;
}
body {
    color: white; /* text color */
    margin: 0; /* removes all spaces of the body */
    padding: 0;
    font-family: "Noto Serif", serif;
    font-size: 15px;
    line-height: 150%; /* 150% of font-size */
}
